@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --fonte:'Lato', sans-serif;
    --cor-background:#ffffff;
    --cor-botoes:rgb(114, 10, 10);
    --cor-hover:red;

}

body{
    background-image: url(1489221.jpg);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

}

.link-bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-background);
    width: 350px;
    border-radius: 20px;
}

.link-bio img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.link-bio h1{
    font-size: 3rem;
    color: var(--cor-botoes);
}

.link-bio p{
    margin: 10px 10px 20px 10px;
    font-size: 1rem;
    color: black;
    text-align: center;
    font-family: var(--fonte);
}

.link-bio a{
    background-color: var(--cor-botoes);
    color: var(--cor-background);
    text-align: center;
    font-size: 1.3rem;
    margin: 10px;
    border-radius: 40px;
    width: 90%;
    padding: 20px;
}

.link-bio a:hover{
    background: var(--cor-hover);
}

